.tag {
  margin: 0 0.5rem;
  min-width: 14.1rem;
  width: fit-content;
  padding: 1rem 1rem;
  z-index: 1;
  border-radius: 1.9rem;
  color: var(--white);
  text-align: center;
  font-size: 1.8rem;
  background-color: var(--pink);
  &:disabled {
    background-color: var(--gray);
  }
  @media screen and (min-width: 1024px) {
    font-size: 2rem;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox + & {
    background-color: var(--gray);
    padding: 1rem 3rem;
    cursor: pointer;

    &:hover {
      background-color: var(--pink);
      transition: 0.2s ease-in-out;
    }
  }

  &__checkbox:checked + & {
    background-color: var(--pink);
  }
}
