.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--white);
  padding-right: 2.3rem
}
