.textArea {
  background: var(--opacityGray);
  border: none;
  border-radius: 0.6rem;
  width: 100%;
  min-width: 28rem;
  min-height: 54.5rem;
  height: 100%;
  padding: 2rem;
  resize: none;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--darkGray);
  @media screen and (min-width: 1024px) {
    min-height: 36.3rem;
  }

  &--error {
    border: 0.1rem solid var(--red);
  }
}
