.toolsWrapper {
  margin-top: 10rem;

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 4rem;
    margin-bottom: 5rem;
    border-radius: 1.6rem;
    box-shadow: 0rem 0.4rem 1.5rem 0.5rem var(--opacityDarkGray);
    word-wrap: break-word;

    @media screen and (min-width: 1024px) {
      margin-bottom: 10rem;
    }
  }

  &__tags {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 5rem;
    row-gap: 2rem;
    @media screen and (min-width: 768px) {
      align-self: start;
      margin: 0 4.7rem 3rem;
    }
    @media screen and (min-width: 1024px) {
      align-self: start;
      column-gap: 2rem;
      grid-template-columns: repeat(4, auto);
    }
  }
}
